.old-button {
  min-width: 140px;
  padding: 10px;
  margin-right: 30px;
  font-weight: bold;
}

.old-button:active,
.old-button:focus {
  outline: none;
}

.old-button-success {
  background-color: skyblue;
}

.old-button-danger {
  background-color: red;
}